body, html {
    height: 100%;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(assets/images/michael-jackson-logo2.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.logo {
    height: 300px;
    width: 400px;
    align-content: center;
}

h1 {
    font-family: fantasy;
}
.h2 {
    color: maroon;
}
