body, html {
    height: 100%;
}
.jumbotron {
   /* height: 428px; */
    color: maroon;
    text-shadow: black 0.3em 0.3em 0.3em;
}
/* .header{
    height:428px;
} */
.logo {
    /* float:left;* */
    height: 300px;
    align-content: center;
}

h1 {
    font-family: fantasy;
}
.h2 {
    color: maroon;
}
